@charset "UTF-8";
body {
  font-size: 1.0em;
  font-family: 'M PLUS Rounded 1c';
  background: #f0f0f0; }

nav h1 {
  margin: 10px;
  text-align: center; }

#app {
  width: 100%;
  position: relative;
  /* micro clearfx */ }
  #app .denco {
    width: 50%;
    background: #fafafa; }
    #app .denco .image-wrapper {
      text-align: right;
      pointer-events: none; }
      #app .denco .image-wrapper .element-icon {
        width: 20px; }
    #app .denco .text-wrapper {
      margin-top: 5px;
      padding-top: 5px; }
    #app .denco .status-wrapper {
      padding: 5px; }
  #app .mirror {
    transform: scale(-1, 1); }
  #app .denco-form {
    width: 100%;
    background: #fafafa;
    box-shadow: #a0a0a0 2px 2px 5px;
    margin-top: 3px; }
    #app .denco-form .denco-form-info {
      overflow: hidden; }
      #app .denco-form .denco-form-info .image-wrapper {
        float: right;
        z-index: 0;
        position: relative; }
        #app .denco-form .denco-form-info .image-wrapper .element-icon {
          pointer-events: none;
          position: absolute;
          left: 50px;
          top: 50px;
          width: 20px; }
        #app .denco-form .denco-form-info .image-wrapper .denco-image {
          pointer-events: none;
          left: 50px; }
      #app .denco-form .denco-form-info .text-wrapper {
        z-index: 10;
        padding: 5px;
        position: absolute; }
        #app .denco-form .denco-form-info .text-wrapper .denco-name {
          padding: 2px; }
        #app .denco-form .denco-form-info .text-wrapper .skill-text {
          background: #f0f0ff;
          border-radius: 5px;
          padding: 4px;
          opacity: 0.8; }
  #app #battle-wrapper {
    height: auto;
    margin-bottom: 10px;
    overflow: hidden; }
  #app #battle-left {
    padding-left: 20px;
    text-align: left;
    float: left; }
  #app #battle-right {
    padding-right: 20px;
    text-align: right;
    float: right; }
  #app #formations-wrapper {
    margin-top: 20px;
    overflow: hidden; }
  #app #form-left {
    width: 48%;
    padding-left: 10px;
    float: left; }
  #app #form-right {
    width: 48%;
    padding-right: 10px;
    float: right; }
  #app .cf:before, #app .cf:after {
    content: "";
    display: table; }
  #app .cf:after {
    clear: both; }
  #app #dencohSelectModal {
    position: absolute;
    opacity: 0.9;
    background: white;
    box-shadow: gray 0px 0px 6px;
    top: 10px;
    left: 5%;
    width: 90%;
    z-index: 20;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    /*タブ切り替えの中身のスタイル*/
    /*選択されているタブのコンテンツのみを表示*/ }
    #app #dencohSelectModal label {
      width: calc(100%/4);
      float: left;
      text-align: center;
      padding: 3px 0 3px 0;
      border-radius: 4px 4px 0 0; }
    #app #dencohSelectModal input {
      display: none; }
    #app #dencohSelectModal .dencoh-list {
      display: none;
      clear: both;
      overflow: hidden; }
    #app #dencohSelectModal #elem-heat:checked ~ #elem-heat-dencoh,
    #app #dencohSelectModal #elem-eco:checked ~ #elem-eco-dencoh,
    #app #dencohSelectModal #elem-cool:checked ~ #elem-cool-dencoh,
    #app #dencohSelectModal #elem-flat:checked ~ #elem-flat-dencoh {
      display: block; }
    #app #dencohSelectModal input[id="elem-heat"]:checked + .elem-tab {
      background-color: #ff7f50; }
    #app #dencohSelectModal input[id="elem-eco"]:checked + .elem-tab {
      background-color: #11bb22; }
    #app #dencohSelectModal input[id="elem-cool"]:checked + .elem-tab {
      background-color: #5ab4bd; }
    #app #dencohSelectModal input[id="elem-flat"]:checked + .elem-tab {
      background-color: #dcdcdc; }
    #app #dencohSelectModal .heat-color {
      background-color: #ff7f50; }
    #app #dencohSelectModal .eco-color {
      background-color: #11bb22; }
    #app #dencohSelectModal .cool-color {
      background-color: #5ab4bd; }
    #app #dencohSelectModal .flat-color {
      background-color: #dcdcdc; }
    #app #dencohSelectModal .dencoh-list {
      padding: 10px 5% 10px 5%;
      border-radius: 0 0 4px 4px; }
      #app #dencohSelectModal .dencoh-list .dencoh-list-icon {
        float: left;
        width: calc(100%/6);
        padding: 1px; }
        #app #dencohSelectModal .dencoh-list .dencoh-list-icon img {
          pointer-events: none;
          background-color: white;
          width: 100%;
          border-radius: 50%;
          border: #c0c0c0 solid 3px; }
    #app #dencohSelectModal button {
      margin: 5px;
      padding: 5px 10px 5px 10px;
      text-align: center;
      border-radius: 5px;
      border: solid 2px white;
      background-color: silver;
      box-shadow: gray 0 0 4px; }

.smallest {
  font-size: 0.5em; }

.small {
  font-size: 0.7em; }

/*# sourceMappingURL=style.css.map */
