body{
    font-size : 0.9em;
}
nav{
    h1{
        margin : 10px;
        text-align : center;
    }
}

#app{
    width : 100%;

    .form{
        width : 50%;
        background : #f0f0f0;
        float : left;

        .denco{
            margin : 10px;
            .image-wrapper{
                text-align : right;
                .element-icon{
                    width : 20px;
                }
            }
            .text-wrapper{
                margin :  5px;
                padding : 5px;
            }
            .status-wrapper{
                padding : 5px;
            }
        }

        .mirror{
            transform: scale(-1, 1);
        }

        .smallest{
            font-size : 0.3em;
        }
    }

    #form-left{
        padding-left : 20px;
        text-align : left;
    }

    #form-right{
        padding-right : 20px;
        text-align : right;
    }
}
