#dencohSelectModal{

    position : relative;
    width : 90%;
    left : 5%;

    #dsm-element{
        overflow : hidden;
        .element-radio{
            display : none;
        }
        .element-tab{
            float : left;
            width : calc(100%/4);
            padding : 4px 0;
        }
    }

    .dsm-face{
        float : left;
        width : 50px;
        border-radius : 50% 50% 50% 50%;
    }

}
